:root{
	--main-margin: 1rem;
	--half-margin: 0.5rem;
	--dark-main-background-color: #000;
    --intermediate-darker-background-color: #bbb;
	--intermediate-main-background-color: #ccc;
	--intermediate-lighter-main-background-color: #ddd;
	--light-main-background-color: #fff;
	--darkest-text-color: #000;
	--intermediate-text-color: #777;
	--light-text-color: #fff;
};


.l-box {
    padding: var(--main-margin);
}
body
{
    background-color: var(--intermediate-lighter-main-background-color);
}

.hide
{
    display: none
}
.wide-button
{
    width: 100%
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

.footer{
    position: absolute;
    margin-bottom: 0;
    width: 100%
}
.l-box-small {
    padding: var(--half-margin);
}

.page-header{
	margin: 0;
    color: var(--intermediate-text-color);
    text-align: center;
    padding: 2.5em 2em 0;
}

.menu-header{
    background-color: var(--light-main-background-color)
}
.banner
{
	background-image: url("/programming.jpg");
}

form.pure-form {
    font-size: 12px;
}

form.pure-form input
{
    border-radius: 0px !important;
    box-shadow: none !important;
}

form.pure-form-horizontal input + input
{
    margin-left: 10px;
}

.l-content-centered
{
	max-width: 768px;
    margin: 0 auto;
}

.slider, .slider h2
{
	margin: 0;
    color: var(--light-text-color);
    text-align: center;
    padding: 1em 1em 1em 1em ;
    background-color: var(--dark-main-background-color)
}

.object-list{
	list-style: none;
	padding: 0rem 0rem;
	margin: 0rem 0rem;
	width: 100%;
	
}

.object-list .object-list-item{
	padding: 1rem;
	border-bottom: 1px solid var(--intermediate-lighter-main-background-color); 
	font-size: 13px;
	text-align: center;
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */

}
.object-list .object-list-header-item{
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 100;
    color: var(--intermediate-text-color);
    border-bottom: 1px solid var(--intermediate-lighter-main-background-color);;
    padding: 15px;
} 

.l-containner{
	margin: 0  var(--main-margin)  var(--main-margin) var(--main-margin)  ;
	border: 1px solid var(--intermediate-lighter-main-background-color);
	background-color: var(--light-main-background-color);
	overflow-y: hidden;
}

.l-containner + .l-containner{
    margin-left: 0 ;
}

.l-containner-title{
    margin-left: 1.75rem;
    text-align: left;
    /*padding-left: 1rem;*/
    /*background-color: var(--intermediate-main-background-color)*/
}
.l-containner-head{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    background-color: var(--intermediate-lighter-main-background-color);
    text-align: center;
    border-bottom: 1px solid var(--intermediate-darker-background-color);
    border-top: 1px solid var(--intermediate-darker-background-color);
}

.top-buttons
{
	margin: var(--main-margin) 0  var(--main-margin) var(--main-margin)  ;
}

.pure-button-danger {
    background: rgb(202, 60, 60); /* this is a maroon */
    color: white
}

.slick-slider .slick-next
{
	right: 0px;
}
.slick-slider .slick-prev
{
	left: 0px;
	z-index: 200;
}

.slick-slide img {
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}


.grid{
	width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/** product */
.product-view
{
	background-color: var(--light-main-background-color)
}

.product-view-image
{
	width: 100%;
	height: 200px;
}

.product-view-title{
	text-align: center;
	color: var(--intermediate-text-color);
	font-weight: bold;
	margin-top: 10px;
}

.product-view-prices
{
	margin-top: 10px;
	text-align: center;
}
.product-view-prices-price{
	font-size: 20px;
}

.product-view-prices-offerprice
{
	text-decoration: line-through
}


/**Admin css**/


/* Hide the "Menu" button on larger screens */
#nav .nav-menu-button {
    display: none;
}
.nav-inner {
    display: block;
    padding: 1em 0;
}

#nav{
	width: 250px;
    height: 100%;
    position: fixed;
    background: rgb(37, 42, 58);
}

.admin-page-header{
    background-color: #fff;
    color:#000;
}
.admin-page-header .admin-page-title{
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
}

#main {
    margin-left: 250px !important; 
    top: 33%;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 100%; /* so that it's not 100% */
}

.admin {
    color: #333;
    background-color: #eee;
}

#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
    background: rgb(55, 60, 90);
}
#nav .pure-menu-link .menu-icon{
    font-size: 18px;
}

#nav .pure-menu-link {
    color: #fff;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    font-size: 80%;
    font-weight: 100;
}
#nav .pure-menu-link span {
    margin-left: 0.7em;
}

#nav .user-info {
    padding-left: 1em; 
}
#nav .pure-menu-heading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}
#nav .profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#nav .user-name{
    color: #fff;
    font-size: 13px;
}
#nav .user-role{
    color: #ccc;
    font-size: 10px;
}

#nav .menu-title{
    color: #fff;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

/** shopping cart**/

.shoping-cart{

    font-size: 25px;
    position: absolute;
    z-index: 200;
    right: 0px;
    top: 0px;
}

.shoping-cart-list
{
	margin-top: 7px;
	background-color: white;
	box-shadow: -1px 1px 10px 0px #ccc;
}

.shoping-cart-item{
	font-size: 15px;
}
.shoping-cart-item .product-image
{
	width: 70px;
	height: 70px;
}

.shoping-cart-item-title{
 	margin-top: 15px;
 	font-size: 12px;
}

.shoping-cart-item-quantity{
	margin-top: 15px;
	font-size: 12px;
	font-weight: bolder;
	color: var(--intermediate-lighter-main-background-color)
}
.shoping-cart-item-price{
	font-size: 12px;
	font-weight: bolder;
}
.shoping-cart-item + .shoping-cart-item
{
	border-top: solid 1px var(--intermediate-main-background-color)
}
.shoping-cart-buttons
{
	border: solid 1px var(--intermediate-darker-background-color);
	font-size: 15px;
	background-color: var(--intermediate-main-background-color);
}


.shopping-cart-page{
   text-align: center;
}

.shopping-cart-page .shoping-cart-item
{
   text-align: center;
}

.shopping-cart-page .shoping-cart-item-title
{
    font-size: 20px;
}

.shopping-cart-page .shoping-cart-item-field{
    margin-top: 20px;
    font-size: 12px;
}

.shopping-cart-page .product-image{
    height: 80px;
    width: 100%;
    overflow:hidden;
     display: block;
    margin: 0 auto;
}
.shopping-cart-page h2, .shopping-cart-page h3 {
    letter-spacing: 0px; 

}

/** cookies politics */

#barraaceptacion {
                    display:none;
                    position:fixed;
                    left:0px;
                    right:0px;
                    bottom:0px;
                    padding-bottom:20px;
                    width:100%;
                    text-align:center;
                    min-height:40px;
                    background-color: rgba(0, 0, 0, 0.5);
                    color:#fff;
                    z-index:99999;
                }
                 
                .inner {
                    width:100%;
                    position:absolute;
                    padding-left:5px;
                    font-family:verdana;
                    font-size:12px;
                    top:30%;
                }
                 
                .inner a.ok {
                    padding:4px;
                    color:#00ff2e;
                    text-decoration:none;
                }
                 
                .inner a.info {
                    padding-left:5px;
                    text-decoration:none;
                    color:#faff00;
                }



